@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss" important;

@theme {
    --color-dark: #00010D;
    --color-light: #DBDEFF;
    --font-orbitron: 'Orbitron', sans-serif;
    --font-comportaa: 'Comfortaa', sans-serif;
    --breakpoint-sm: 428px;
    --breakpoint-md: 800px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1400px;
    --breakpoint-xxl: 1700px;
}

:root {
    overflow-x: hidden;
}